<div>
  <h1>Proyecto de ANGULAR</h1>
</div>

<div class="border">
  <div class="espacio">
    <h2>Directiva ngIf</h2>
    <div *ngIf="mostrarTexto">
      ¡Este texto solo se muestra si `mostrarTexto` es verdadero!
    </div>
    <button *ngIf="mostrarTexto" (click)="mostrarTexto = false">Ocultar texto</button>
    <button *ngIf="!mostrarTexto" (click)="mostrarTexto = true">Mostrar texto</button>
  </div>
</div>

<div class="border">
  <div class="espacio">
    <h2>Directiva ngStyle</h2>
    <div>
      <!-- Cambia el color del texto -->
      <p [ngStyle]="{'color':'red','text-align':'center', 'text-decoration':'underline', 'text-decoration-color':'blue'}">Texto coloreado</p>
      <!-- Cambia el color del texto -->
      <p [ngStyle]="colorEstado">Texto coloreado</p>
      <!-- Cambia el formato del texto -->
      <p [ngStyle]="{'font-size':'20px', 'font-style':'italic'}">Texto cursiva</p>
      <!-- Cambia el formato del texto -->
      <p [ngStyle]="formatoTexto">Texto cursiva</p>
    
    </div>
  </div>
</div>

<div class="border">
  <div class="espacio">
    <h2>Directiva ngFor</h2>
    <ul>
      <li *ngFor="let item of lista">
        {{ item }}
      </li>
    </ul>
  </div>
</div>